apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/deinok/TREBALL-INVESTIGACIO.git
        revision: main
        files:
          - path: "manifests/*/application.yaml"
  template:
    metadata:
      name: "{{.name}}"
    spec:
      project: default
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{.namespace}}"
      source:
        repoURL: https://github.com/deinok/TREBALL-INVESTIGACIO.git
        targetRevision: main
        path: "{{.path}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
